__pycache__/
*.py[cod]

Flower Plant classification using ResNet50/.cache/*
!Flower Plant classification using ResNet50/.cache/flower_classifier_resnet50.joblib
Flower Plant classification using ResNet50/data/flower_photos/
Flower Plant classification using ResNet50/data/flower_photos.tgz
Flower Plant classification using ResNet50/python
